.additional-products__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-tablet;
  }
}

.additional-products__title {
  position: relative;
  .flex(flex-start);
  .font-main(24px; 24px);
  border-bottom: 1px solid @special_grey;
  padding: 28px 20px 28px 0;
  margin: 0;
}

.additional-products__items {
  .list-style;
}

.additional-products__item {
  border-bottom: 1px solid @special_grey;
  padding-bottom: 20px;
}

.additional-products__description {
  .font-main(16px; 16px);
  text-transform: uppercase;

}

.additional-products__list {
  .font-secondary(14px; 14px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: space-between;
}

.additional-products__button {
  margin: 0 auto;
}

.button--additional-products-style {
  .font-main(16px; 20px);
  color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 630px;
  }
}
