.additional-products__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-tablet;
  }

  @media (min-width: @desktop-width) {
    width: 1120px;
    padding: @padding-desktop;
    padding-top: 20px;
    padding-bottom: 90px;
  }
}

.additional-products__title {
  position: relative;
  .flex(flex-start);
  .font-main(24px; 24px);
  border-bottom: 1px solid @special_grey;
  padding: 28px 20px 30px 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    .font-main(36px; 36px);
    padding-left: 35px;
    padding-top: 35px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: @basic_green;
      left: -30px;
      top: 55px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      left: -110px;
      top: 60px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 328px;
      height: 2px;
      background-color: @basic_green;
      right: -30px;
      top: 55px;
    }

    @media (min-width: @desktop-width) {
      width: 957px;
      left: 375px;
      top: 60px;
    }
  }
}

.additional-products__items {
  .list-style;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
    border: 1px solid @special_grey;
  }

  @media (min-width: @desktop-width) {
    border-left: none;
    border-right: none;
  }
}

.additional-products__item {
  border-bottom: 1px solid @special_grey;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    .flex(space-between; center);
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.additional-products__description-wrapper {
  @media (min-width: @tablet-width) {
    .flex(space-between);
    padding: 10px 35px 0 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additional-products__description {
  .font-main(16px; 16px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-main(20px; 20px);
  }

  @media (min-width: @desktop-width) {
    width: 290px;
  }
}

.additional-products__list {
  .font-secondary(14px; 14px);
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    .font-secondary(16px; 20px);
  }

  @media (min-width: @desktop-width) {
    width: 360px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.additional-products__button {
  margin: 0 auto;
}

.button--additional-products-style {
  .font-main(16px; 20px);
  color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
  }
}
