.contacts {

  &__wrapper {
    .center-1;
    .center-2;
    .flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__invite {
    margin: 0;
  }

  &__invite--style {
    .font_oswald-black-big(16px; 18px);
  }

  &__address--style {
    .font_arial(14px; 20px);
  }

}