.contacts__wrapper {
  margin: 0 auto;
  padding: @padding-mobile;
  .flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-tablet;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    .visually-hidden;
  }
}

.contacts__invite {
  margin: 0;
}

.invite {
  .font-main(16px; 18px);
  text-transform: uppercase;
}

.address {
  .font-secondary(14px; 20px);
}

.contacts--background {
  background-color: @basic_grey;
}
