.example {
  background-color: @special_grey_4;
}

.example__wrapper {
  .margin-auto;
  .padding-mobile;
  padding-top: 30px;
  padding-bottom: 30px;
}

.example__subtitle {
  margin: 0;
  margin-bottom: 35px;
}

.example__subtitle--style {
  .flex(flex-start);
  .font_oswald-black-norm(36px; 40px);
}

.example__text {
  margin: 0;
}

.example__text--style {
  .font_arial(14px; 18px);
}

.example__list {
  .list-style();
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 35px;
}

.example__item--style {
  .flex;
  width: 124px;
  height: 64px;
  text-align: center;
  border: 1px solid @special_grey;
  border-radius: 3px;
  box-sizing: border-box;
}

.example__value {
  margin-bottom: 8px;
}

.example__value--style {
  .flex;
  .font_oswald-black-big(24px; 24px);
}

.example__description {
  margin: 0;
}

.example__description--style {
  .flex;
  width: 85px;
  .font_arial(12px; 12px);
}

.example__price {
  .margin-auto;
  .flex();
}

.example__price--style {
  .font_oswald-black-big(14px; 20px);
}

.example__slider {
  margin-top: 40px;
}

.example__slider-list {
  .list-style;
}

.example__slide--after {
  display: none;
}

.example__control {
  .flex(space-around; center);

  .margin-auto;
}

.example__control--style {
  width: 228px;
  height: 40px;
}

.example__control--before,
.example__control--after {
  .font_oswald-black-big(16px; 20px);
}

.example__scale--style {
  width: 84px;
  height: 14px;
  background-color: @white;
  border-radius: 6px;
  padding: 4px 5px;
  box-sizing: border-box;
}

.example__bar--style {
  width: 35px;
  height: 6px;
  background-color: @basic_green;
  border-radius: 6px;
}
