.example {
  background-color: @special_grey_4;
}

.example__wrapper {
  margin: 0 auto;
  padding: @padding-mobile;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 1090px;
    padding: @padding-tablet;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 660px;
    padding: @padding-desktop;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

.example__desktop-wrapper {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    .flex(space-between; center);
  }
}

.example__desktop-container-1 {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.example__desktop-container-2 {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.example__example-subtitle {
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: @desktop-width) {
    margin-bottom: 150px;
    margin-top: 50px;
  }
}

.example-subtitle {
  .flex(flex-start);
  .font-main(36px; 40px);

  @media (min-width: @tablet-width) {
    .font-main(60px; 60px);
  }
}

.example__example-text {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 25px;
  }
}

.example-text {
  .font-secondary(14px; 18px);

  @media (min-width: @tablet-width) {
    .font-secondary(16px; 24px);
  }

  @media (min-width: @desktop-width) {
    width: 435px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    .flex(space-between; center);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__list {
  .list-style();
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-gap: 45px;
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 25px;
  }
}

.example-item {
  .flex (center);
  width: 124px;
  height: 55px;
  text-align: center;
  border: 1px solid @special_grey;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 160px;
    height: 75px;
    margin-top: 15px;
  }
}

.example__example-value {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.example-value {
  .flex;
  .font-main(24px; 24px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-main(30px; 37px);
    text-transform: uppercase;
    width: 160px;
  }
}

.example__example-description {
  margin: 0;
}

.example-description {
  .flex;
  width: 85px;
  .font-secondary(12px; 12px);

  @media (min-width: @tablet-width) {
    .font-secondary(14px; 14px);
    width: 160px;
  }
}

.example__example-price {
  margin: 0 auto;
  .flex();

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -20px;
    width: 25%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: 50px;
    justify-content: stretch;
  }
}

.example-price {
  .font-main(14px; 20px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .flex(flex-end);
    .font-main(20px; 20px);
    text-transform: uppercase;
  }

  @media (min-width: @desktop-width) {
    .flex(flex-start; center);
    margin-top: 40px;
  }
}

.example-price__text {
  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.example-price__sum {
  margin-left: 3px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 10px;

    @media (min-width: @desktop-width) {
      margin: 0;
      margin-left: 65px;
    }
  }
}

.example__slider {
  margin-top: 40px;
}

.example__slider-list {
  .list-style;

  @media (min-width: @tablet-width) {
    .flex;
  }
}

.example-slide--before {
  transform: scale(1.1);
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    transform: scale(2);
    margin-top: 160px;
    margin-bottom: 120px;
  }

  @media (min-width: @desktop-width) {
    transform: scale(2.2);
    margin-top: 100px;
    margin-bottom: 125px;
    margin-right: 20px;
  }
}

.example-slide--after {
  display: none;
}

.example__example-control {
  .flex(space-around; center);
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin-left: 30px;
  }
}

.example-control {
  width: 228px;
  height: 40px;

  @media (min-width: @tablet-width) {
    width: 590px;
    margin-top: 15px;
  }
}

.example-control--before,
.example-control--after {
  .font-main(16px; 20px);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-main(20px; 30px);
    text-transform: uppercase;
  }
}

.example-scale {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: @white;
  border-radius: 6px;
  padding: 4px 5px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 430px;
    height: 6px;
    background-color: @special_grey_5;
  }
}

.example__example-bar {
  @media (min-width: @tablet-width) {
    top: -13px;
    left: 200px;
  }
}

.example-bar {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: @basic_green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 13px solid @white;
    box-sizing: content-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
}
