.form__wrapper {
  width: 320px;
  padding: @padding-mobile;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-tablet;
  }
}

.form__title {
  .flex(flex-start);
  .font-main(14px; 18px);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
}

.form__note-wrapper {
  .flex(space-between; center);
}

.form__button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button--form-style {
  .button;
  .font-main(16px; 20px);
  color: @white;
  text-transform: uppercase;
}

.form__note {
  .font-secondary(14px; 16px);
  margin-top: 10px;
  margin-bottom: 10px;
}
