.location {
  

  &__wrapper {
    .center-1;
  }

  &__map--style {
    display            : flex;
    width              : 320px;
    height             : 362px;
    background         : url("../img/mobile_map-marker.png"), url("../img/mobile_map.jpg");
    background-repeat  : no-repeat;
    background-position: top 139px left 134px, center;
  }


}