.main-nav {
  display: blok;
}

.main-nav__wrapper {
  .margin-auto;
}

.main-nav__list {
  .flex();
  flex-direction: column;
  align-items: stretch;
}

.main-nav__list--style {
  .list-style();
  .font_oswald-black-medium(20px; 20px);
}

.main-nav__item--style {
  border-bottom: 1px solid @special_white;
}

.main-nav__link--style {
  .flex;
  height: 66px;
  padding: 23px;
  box-sizing: border-box;
}
