.main-nav {
  display: none;

  &__wrapper {
    .center-1;
  }

  &__list {
    .flex();
    flex-direction: column;
    align-items: stretch;
  }

  &__list--style {
    .list-style();
    .font_oswald-black-medium(20px; 20px);
  }

  &__item--style {
    border-bottom: 1px solid @special_white;
  }

  &__link--style {
    .flex;
    height: 66px;
    padding: 23px;
    box-sizing: border-box;
  }

}