.page-footer__wrapper {
  margin: 0 auto;
  padding: @padding-mobile;
  .flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-mobile;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: @padding-desktop;
  }
}

.page-footer__logo {
  .flex;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid @special_grey_3;
}

.copyright {
  .font-secondary(16px; 18px);
  .flex(space-between; center);
  padding-top: 15px;
  padding-bottom: 15px;

  &:hover path {
    fill: @basic_green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: 164px;
  }
}
