.page-footer {

  &__wrapper {
    .center-1;
    .center-2;
    .flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__logo {
    .flex;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid @special_grey-3;
  }

  &__social-list {
    .list-style;
    .flex(space-between);
    padding: 25px 90px;
    border-bottom: 1px solid @special_grey-3;
  }

  &__copyright {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    .font_arial(16px; 18.4px);
  }

  &__copyright::after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 34px;
    background: url("../img/html-academy_logo.svg") no-repeat center;
    bottom: 20px;
    right: 0px;
  }

}