.page-main__title {
  position: relative;
  .margin-auto();
  z-index: 2;
}

.page-main__title--style {
  .flex();
  .font_oswald-white-norm(36px; 36px);
  padding-top: 30px;
  text-align: center;
}

.page-main__title--catalog {
  .font_oswald-black-norm(36px; 36px);
  .padding-mobile();
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid @special_grey_1;
  justify-content: flex-start;
}
