.main-nav__toggle {
  display: block;
  width: 24px;
  height: 16px;
  background-image: url("../img/open-toggle.svg");
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center;
  border-left: none;
  border-right: none;
  

}