.page-footer__wrapper {
  margin: 0 auto;
  padding: @padding-mobile;
  .flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-mobile;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: @padding-desktop;
  }
}

.page-footer__logo {
  .flex;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid @special_grey_3;
}

.copyright {
  .font-secondary(16px; 18px);
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 34px;
    background: url("@{path-to-img}/html-academy_logo.svg") no-repeat center;
    bottom: 20px;
    right: 0;
  }

  @media (min-width: @tablet-width) {
    padding-right: 60px;
  }
}
