.page-header__container {
  @media (min-width: @tablet-width) {
    .flex(space-between);
    padding: 20px 0;
    padding-left: 50px;
  }

  @media (min-width: @desktop-width) {
    padding: @padding-desktop;
  }
}

.page-header__wrapper {
  padding: @padding-mobile;
  .flex(space-between; center);
  padding-bottom: 15px;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding: 0;
    width: 20%;
  }

  @media (min-width: @desktop-width) {
    width: 12%;
  }
}

.page-header__logo {
  .flex(space-between);
  flex-basis: calc(100% / 3 * 2);

  @media (min-width: @tablet-width) {
    flex-basis: 100%;
  }
}

.logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  cursor: pointer;
}

.page-header__toggle {
  &--open {
    display: block;
    width: 24px;
    height: 16px;
    background-image: url("../img/open-toggle.svg");
    background-color: @white;
    background-repeat: no-repeat;
    background-position: center;
    border: 1.5px solid @black;
    border-left: none;
    border-right: none;
    outline: none;
    cursor: pointer;
  }

  &--closed {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/closed-toggle.svg");
    background-color: @white;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &--nojs {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
