
.page-header__wrapper {
  .center-2();
  .flex();
  justify-content: space-between;
  padding-bottom:  15px;
  padding-top: 15px;
  

}





.main-nav__toggle {
  display: block;
  width: 24px;
  height: 16px;
  background-image: url("../img/open-toggle.svg");
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center;
  border-left: none;
  border-right: none;
  

}