.present__wrapper {
  padding: @padding-mobile;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: @padding-tablet;
    padding-top: 40px;
    padding-bottom: 40px;
    .outline(@red);
  }
}

.present__image {
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 369px;
  background-image: url("@{path-to-img}/icon_present.svg"),
    url("@{path-to-img}/mobile_present-cat.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: 100px 60px, center;

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 290px;
    margin-top: 80px;
  }
}

.present__text {
  position: absolute;
  .font-secondary(16px; 20px);
  color: @white;
  text-align: center;
  .flex;
  width: 161px;
  min-height: 60px;
  overflow: hidden;
  top: 170px;
  left: 60px;
}
