.present__wrapper {
  padding: @padding-mobile;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 200px;
    padding: @padding-tablet;
  }
}

.present__image {
  margin: 0 auto;
  position: relative;
  width: 280px;
  height: 365px;
  background-image: url("@{path-to-img}/icon_present.svg"),
    url("@{path-to-img}/mobile_present-cat.jpg");
  background-repeat: no-repeat no-repeat;
  background-position: 100px 100px, center;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 200px;
    background-position: 80px 60px, center;
    background-size: 80px 82px, cover;
    margin-top: 70px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 290px;
    margin-top: 170px;
    margin-left: -35px;
  }
}

.present__text {
  position: absolute;
  .font-secondary(16px; 20px);
  color: @white;
  text-align: center;
  .flex;
  width: 161px;
  min-height: 60px;
  overflow: hidden;
  top: 210px;
  left: 60px;

  @media (min-width: @tablet-width) {
    top: 60px;
    left: 400px;
  }

  @media (min-width: @desktop-width) {
    top: 170px;
    left: 40px;
  }
}
