.promo__wrapper {
  position: relative;
  width: 320px;
  height: 476px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 840px;
    padding: @padding-tablet;

  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 640px;
    padding-top: 50px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 320px;
    height: 302px;
    top: 0;
    left: 0;
    background-color: rgba(104, 183, 56, 0.85);
    background-size: 300px 302px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      width: 720px;
      height: 694px;
      top: -120px;
      left: 720px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 320px;
    height: 302px;
    top: 0;
    left: 0;
    background-image: url("../img/index-background-desktop-2.jpg");
    background-repeat: no-repeat;
    z-index: 1;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
      width: 720px;
      height: 694px;
      top: -120px;
      left: 720px;
      background-size: cover;
    }
  }
}

.promo__slogan {
  padding: @padding-mobile;
  z-index: 2;
  margin-top: 25px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-left: 160px;
  }
}

.promo__slogan--style {
  .flex();
  position: relative;
  .font-main(14px; 14px);
  color: @white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font-main(20px; 20px);
    text-transform: uppercase;
    padding: 10px 0;
    width: 528px;
    justify-content: start;
  }
}

.promo__image {
  position: absolute;
  left: 20px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    transform: scale(2.3);
    top: 400px;
    left: 280px;
  }

  @media (min-width: @desktop-width) {
    transform: scale(1.8);
    top: 140px;
    left: 710px;
  }
}

.promo__button {
  margin: 0 auto;
  padding: @padding-mobile;
  margin-top: 300px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    margin-left: 80px;
    position: relative;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
  }
}

.button--promo-style {
  .font-main(14px; 14px);
  color: @white;
  text-transform: uppercase;

  &:hover {
    background-color: @basic_green_2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button--promo-style {
    .font-main(20px; 20px);
    color: @white;
    text-transform: uppercase;
    width: 250px;
    height: 55px;

  }
}
