.page-main {
  &__title {
    position: relative;
    .center-1();
    z-index: 2;
  }

  &__title--style {
    .flex();
    .font_oswald-white-norm(36px; 36px);
    padding-top: 30px;
    text-align: center;
  }
}
