.shadow_normal() {
  background: #c4c4c4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.shadow_hover() {
  background: #c4c4c4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

.shadow_pressed() {
  background: #c4c4c4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.font-main(@font; @line) {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @black;
  font-size: @font;
  line-height: @line;
}

.font-secondary(@font; @line) {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: @special_dark_grey;
  font-size: @font;
  line-height: @line;
}


.flex(@justify-content: center; @align-items: stretch) {
  display: flex;
  flex-wrap: wrap;
  justify-content: @justify-content;
  align-items: @align-items;
}

.outline(@color: @black) {
  outline: 1px solid @color;
  outline-offset: -1px;
}

.list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-after() {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 13px;
  bottom: 10px;
}
